<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="learning-set">
            <ion-icon name="book"></ion-icon>
            <ion-label>Learning Set</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="start">
            <ion-icon name="play"></ion-icon>
            <ion-label>Start</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
