<div
  class="flex flex-col justify-center items-center m-auto max-w-lg min-h-screen overflow-hidden"
>
  <div class="h-full text-center mt-8 pb-20">
    <div class="mb-16">
      <img class="m-auto size-20" src="assets/logo.png" alt="" />
      <h1 class="text-xl">Alphado</h1>
    </div>

    <div class="px-2 my-4">
      <form [formGroup]="gameCodeFormGroup" (ngSubmit)="joinTheGame()">
        <input
          class="m-auto text-center border w-full my-4 h-9 rounded-md"
          type="text"
          placeholder="Spiel-Pin"
          formControlName="gameCodeFormControl"
          [(ngModel)]="inputText"
          (ngModelChange)="inputText = inputText.toUpperCase()"
          maxlength="8"
        />
        <button
          class="border w-full h-9 rounded-md text-white {{
            gameCodeFormGroup.valid
              ? 'bg-[#3B3B3B]'
              : 'bg-[#bababa] cursor-default'
          }}"
        >
          Beitreten
        </button>
      </form>
    </div>
  </div>
</div>

<div class="absolute inset-x-0 bottom-0 text-center my-12">
  <button class="text-[#3B3B3B] underline">Spiel Erstellen</button>
</div>
