@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
  @apply font-inter;
}

body {
  -webkit-user-select: none; /* Für WebKit-basierte Browser */
  -moz-user-select: none; /* Für Mozilla-basierte Browser */
  -ms-user-select: none; /* Für Microsoft Edge */
  user-select: none; /* Standard */
}
