@if (!isLoading) {
<div class="pt-8 pl-4">
  <a routerLink="..">
    <span class="material-symbols-rounded">arrow_back</span>
  </a>
</div>
}

<div
  class="flex flex-col justify-center items-center m-auto max-w-md min-h-screen overflow-hidden"
>
  @if (!isLoading) {
  <div class="h-full mt-8 pb-20">
    <h1 class="text-center text-lg font-bold mb-8">
      Erstellen sie ihre Profile
    </h1>
    <div class="flex flex-row justify-center items-center mb-16">
      <button (click)="previousProfile()">
        <span
          class="material-symbols-rounded  {{
            profileIndex == maxProfiles - 1
              ? 'text-[#3B3B3B]'
              : 'text-[#bababa] cursor-default'
          }}"
        >
          arrow_back_ios
        </span>
      </button>

      <div class="size-20 rounded-md mx-7">
        <img class="" [src]="getProfileIndex()" />
      </div>

      <button (click)="nextProfile()">
        <span
          class="material-symbols-rounded {{
            profileIndex == maxProfiles - 1
              ? 'text-[#bababa] cursor-default'
              : 'text-[#3B3B3B]'
          }}"
        >
          arrow_forward_ios
        </span>
      </button>
    </div>

    <div class="px-12 my-4 text-left">
      <form [formGroup]="formGroupPlayer" (ngSubmit)="createPlayer()">
        <label class="" for="name">Name: </label>
        <input
          class="m-auto border w-full my-4 h-9 rounded-md p-2"
          type="text"
          name="name"
          formControlName="playerName"
        />
        <button class="border w-full h-9 rounded-md bg-[#3B3B3B] text-white">
          Profile Erstellen
        </button>
      </form>
    </div>
  </div>

  } @else {
  <app-loading-spinner></app-loading-spinner>
  }
</div>
